
--  Num Tables: 12
/*
READ procedure for [dbo].[authors]
*/
CREATE PROCEDURE [dbo].[READ_authors]
AS
SELECT * from [dbo].[authors]

GO

/*
READ procedure for [dbo].[discounts]
*/
CREATE PROCEDURE [dbo].[READ_discounts]
AS
SELECT * from [dbo].[discounts]

GO

/*
READ procedure for [dbo].[employee]
*/
CREATE PROCEDURE [dbo].[READ_employee]
AS
SELECT * from [dbo].[employee]

GO

/*
READ procedure for [dbo].[jobs]
*/
CREATE PROCEDURE [dbo].[READ_jobs]
AS
SELECT * from [dbo].[jobs]

GO

/*
READ procedure for [dbo].[pub_info]
*/
CREATE PROCEDURE [dbo].[READ_pub_info]
AS
SELECT * from [dbo].[pub_info]

GO

/*
READ procedure for [dbo].[publishers]
*/
CREATE PROCEDURE [dbo].[READ_publishers]
AS
SELECT * from [dbo].[publishers]

GO

/*
READ procedure for [dbo].[regions]
*/
CREATE PROCEDURE [dbo].[READ_regions]
AS
SELECT * from [dbo].[regions]

GO

/*
READ procedure for [dbo].[roysched]
*/
CREATE PROCEDURE [dbo].[READ_roysched]
AS
SELECT * from [dbo].[roysched]

GO

/*
READ procedure for [dbo].[sales]
*/
CREATE PROCEDURE [dbo].[READ_sales]
AS
SELECT * from [dbo].[sales]

GO

/*
READ procedure for [dbo].[stores]
*/
CREATE PROCEDURE [dbo].[READ_stores]
AS
SELECT * from [dbo].[stores]

GO

/*
READ procedure for [dbo].[titleauthor]
*/
CREATE PROCEDURE [dbo].[READ_titleauthor]
AS
SELECT * from [dbo].[titleauthor]

GO

/*
READ procedure for [dbo].[titles]
*/
CREATE PROCEDURE [dbo].[READ_titles]
AS
SELECT * from [dbo].[titles]

GO


