

--  Num Tables: 12
/*
READ procedure for [dbo].[authors]
*/
CREATE PROCEDURE [dbo].[usp_select_all_authors]
AS
SELECT * from [dbo].[authors]

GO

/*
READ procedure for [dbo].[discounts]
*/
CREATE PROCEDURE [dbo].[usp_select_all_discounts]
AS
SELECT * from [dbo].[discounts]

GO

/*
READ procedure for [dbo].[employee]
*/
CREATE PROCEDURE [dbo].[usp_select_all_employee]
AS
SELECT * from [dbo].[employee]

GO

/*
READ procedure for [dbo].[jobs]
*/
CREATE PROCEDURE [dbo].[usp_select_all_jobs]
AS
SELECT * from [dbo].[jobs]

GO

/*
READ procedure for [dbo].[pub_info]
*/
CREATE PROCEDURE [dbo].[usp_select_all_pub_info]
AS
SELECT * from [dbo].[pub_info]

GO

/*
READ procedure for [dbo].[publishers]
*/
CREATE PROCEDURE [dbo].[usp_select_all_publishers]
AS
SELECT * from [dbo].[publishers]

GO

/*
READ procedure for [dbo].[regions]
*/
CREATE PROCEDURE [dbo].[usp_select_all_regions]
AS
SELECT * from [dbo].[regions]

GO

/*
READ procedure for [dbo].[roysched]
*/
CREATE PROCEDURE [dbo].[usp_select_all_roysched]
AS
SELECT * from [dbo].[roysched]

GO

/*
READ procedure for [dbo].[sales]
*/
CREATE PROCEDURE [dbo].[usp_select_all_sales]
AS
SELECT * from [dbo].[sales]

GO

/*
READ procedure for [dbo].[stores]
*/
CREATE PROCEDURE [dbo].[usp_select_all_stores]
AS
SELECT * from [dbo].[stores]

GO

/*
READ procedure for [dbo].[titleauthor]
*/
CREATE PROCEDURE [dbo].[usp_select_all_titleauthor]
AS
SELECT * from [dbo].[titleauthor]

GO

/*
READ procedure for [dbo].[titles]
*/
CREATE PROCEDURE [dbo].[usp_select_all_titles]
AS
SELECT * from [dbo].[titles]

GO


